{% extends 'index.html' %}
    
{% block content %}
<section class="client_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        About
      </h2>
    </div>
  </div>
  <div class="container px-0">
    <div id="customCarousel2" class="carousel  carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="box">
            <div class="client_info">
              <div class="client_name">
                <h5>
                  Parkinson
                </h5>
              </div>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <p>
              Parkinson's Disease Detection focuses on developing a reliable and accurate method for early diagnosis of Parkinson's Disease using advanced machine learning 
              and deep learning algorithms. By analyzing various biomarkers, including voice patterns, motor function data, and other clinical features, the system aims to 
              enhance the precision of diagnosis, potentially enabling timely interventions and improved patient outcomes. This approach leverages data-driven techniques to 
              identify subtle signs of the disease, supporting healthcare professionals in making more informed decisions.
            </p>
          </div>
        </div>
        
{% endblock %}